@import "../../index.scss";

.keyword-bar {
    width: 100%;
    background-color: $background-color-2;
    padding: 1.7em 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &>li {
        color: $text-color;
        font-size: 1.5em;
        padding: 0 0.25em;
    }

    &>li::marker {
        content: '>';
        color: $accent-color;
    }

}