@import "../../index.scss";

.skills {
    margin: 50px 0;
    color: $text-color;
}

.summary {
    text-align: center;

    .check {
        color: $accent-color;
        padding: 0 5px;
    }

    li {
        list-style-type: none;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
}


@media screen and (min-width: 900px) {
    .skills {
        display: flex;
        flex-direction: row;
    }

    .skills h1 {
        font-size: 70px;
    }

    .summary {
        margin-left: 5%;
        min-width: 400px;
        text-align: right;
    }

    .cards {
        margin: 0 5% 0 50px;
        justify-content: start;
    }
    
}