@import "../../index.scss";

.skills {
    margin: 50px 30px;
    color: $text-color;
}

.summary {
    text-align: center;

    .check {
        color: $accent-color;
        padding: 0 5px;
    }

    li {
        list-style-type: none;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}