@import "../../index.scss";

.skills {
    margin: 50px 0;
    color: $text-color;
}

.summary {
    text-align: center;

    h1 {
        font-size: 50px;
    }

    li {
        font-size: 20px;
        list-style-type: none;
    }

    .check {
        color: $accent-color;
        padding: 0 5px;
    }

}

.cards {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}