@import "../../index.scss";

.hero-image {
    background-color: $background-color;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 50px 0;
}

.intro {
    padding: 100px 0 0 0;
    margin: 0 0 0 auto;
    color: $text-color;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        text-transform: uppercase;
        width: 500px;
    }

    span {
        text-decoration: $accent-color underline double 2px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;

        padding: 2em 0 2em 0;

        li {
            margin: 0 1em 0 1em;
            padding: 10px 2px;
        }

        li::marker {
            content: '>';
            color: $accent-color;
        }
    }

}

.image-container {
    margin: 0 auto 0 0;
    

    img {
        height: 500px;
        border-radius: 50%;
        background-color: $accent-color;
    }
}

@media only screen and (max-width: 1200px) {
    .image-container img {
        display: none;
    }

    .intro {
        padding: 0;
    }
}
